<%- include('../partials/header.ejs') %>

  <div class="main-list">
    <div class="table-title">
      <h1>Fruits list</h1>
      <!-- <a href="/users/create">
        <span class="material-symbols-outlined">
          playlist_add
        </span>
      </a> -->
    </div>
    
    <table>
      <thead>
        <th>ID</th>
        <th>Fruit</th>
        <th>Actions</th>
      </thead>
      <% if (fruits.length) { %>
        <tbody>
          <% fruits.forEach(fruit => { %>
            <tr>
              <td><%= fruit.id %></td>
              <td><%= fruit.type %></td>
              <td class="actions">
                <a class="list-button" href="/fruits/show/<%= fruit.id %>">Show details</a>
              </td>
            </tr>
            <% }); %>
      <% } else { %>
        <tbody>
          <tr class="no-data">
            <td colspan="2">You don't have any fruit, try adding one!</td>
            <td>
              <a class="list-button" href="/fruits/create">Add new fruit</a>
            </td>
          </tr>
      <% }%>
        </tbody>
    </table>
  </div>

  <% if (message.message.length) { %>
    <div class="floating-message" id="floating-message">
      <p><%= message.message %></p>
    </div>
  <% } %>

  <a href="/fruits/create" class="floating-button">
    <span class="material-symbols-outlined">
    playlist_add
    </span>
  </a>
  </body>

  <script>
    const $message = document.getElementById('floating-message');

    if ($message) {
      let timeOut = setTimeout(() => {
        $message.remove();
      }, 3000);
    }
  </script>

</html>
