<%- include('../partials/header.ejs') %>

<div class="main-list container">
      <h2 class="new-title"><%= targetFruit.type %> details:</h2>
      <form method="POST" action="/api/store" novalidate>
        <div class="form-input">
          <label for="id">Id</label>
          <input type="text" name="id" id="id" value="<%= targetFruit.id %>" readonly>
          <label for="fruitType">Fruit</label>
          <input type="text" name="fruitType" id="fruitType" value="<%= targetFruit.type %>" readonly>
        </div>
        <div class="table-title">
          <a href="/fruits/list" class="common-btn btn-cancel">Back</a>
          <div class="form-buttons">
            <button name="boton" id="boton" class="common-btn btn-delete">Delete</button>
            <a href="/fruits/edit/<%= targetFruit.id %>" class="common-btn">Edit</a>
          </div>
        </div>
      </form>
    </div>

    <!-- ================================================== -->
    <script src="/js/fruits/deleteFruit.js"></script>

</body>
</html>
