<%- include('../partials/header.ejs') %>
   
    <div class="main-list container">
        <div class="table-title">
          <h1>Users list</h1>
        </div>
        
        <table>
          <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
          </thead>
          <% if (users.length) { %>
            <tbody>
              <% users.forEach(user => { %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.name %></td>
                  <td class="actions">
                    <a class="list-button common-btn" href="/users/show/<%= user.id %>">
                      <span class="material-symbols-outlined button-icon">
                        search
                        </span>
                    </a>
                  </td>
                </tr>
                <% }); %>
          <% } else { %>
            <tbody>
              <tr class="no-data">
                <td colspan="2">You don't have any user, try adding one!</td>
                <td>
                  <a class="list-create common-btn" href="/users/create">Add new user</a>
                </td>
              </tr>
          <% }%>
            </tbody>
        </table>
    </div>

    <%- include('../partials/message.ejs') %>

    <a href="/users/create" class="floating-button common-btn">
      <span class="material-symbols-outlined">
        playlist_add
      </span>
    </a>

  </body>

  <script src="/js/destroyMessage.js"></script>

</html>
