<%- include('../partials/header.ejs') %>
    <div class="main-list">
      <h2 class="new-title"><%= targetUser.name %> details:</h2>
      <form method="POST" action="/api/store" novalidate>
        <div class="form-input">
          <label for="id">Id</label>
          <input type="text" name="id" id="id" value="<%= targetUser.id %>" readonly>
          <label for="name">Name</label>
          <input type="text" name="name" id="name" value="<%= targetUser.name %>" readonly>
        </div>
        <div class="form-buttons">
          <a href="/users/edit/<%= targetUser.id %>" class="btn-primary">Edit</a>
          <button name="boton" id="boton" class="btn-primary btn-delete">Delete</button>
          <a href="/users/list" class="btn-primary btn-cancel">Back</a>
        </div>
      </form>
    </div>


    <!-- ================================================== -->
    <script src="/js/users/deleteUser.js"></script>

  </body>
</html>
